* {
    box-shadow: none;
    text-shadow: none;
}

window {
    background-color: @background;
}

#main_window {
    background-color: @background;
}




button {
    border: none;
}

button:focus, button:checked {
    outline: none;
    border: none;
}







#title_bar.any {
    background-image: linear-gradient(90deg, @background 0%, @device_any 20%, @background 40%);
}

#title_bar.ethernet {
    background-image: linear-gradient(90deg, @background 0%, @device_ethernet 20%, @background 40%);
}

#title_bar.lan {
    background-image: linear-gradient(90deg, @background 0%, @device_lan 20%, @background 40%);
}

#title_bar.wifi {
    background-image: linear-gradient(90deg, @background 0%, @device_wifi 20%, @background 40%);
}

#title_bar.vpn {
    background-image: linear-gradient(90deg, @background 0%, @device_vpn 20%, @background 40%);
}

#title_bar.bluetooth {
    background-image: linear-gradient(90deg, @background 0%, @device_bluetooth 20%, @background 40%);
}






#navigation_options > button {
    margin: 4px;
}

#navigation_buttons {
    padding: 4px 0;
}

#navigation_options button,
        #app_options button {
    min-width: 24px;
    min-height: 24px;
    padding: 4px;
    border-radius: 6px;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#navigation_options button:hover,
        #app_options button:hover {
    background-color: @ripple;
}

#navigation_buttons #back {
    background-image: url('../../icons/ic_back.svg');
}

#navigation_buttons #back.active {
    background-image: url('../../icons/ic_back_active.svg');
}

#navigation_buttons #next {
    background-image: url('../../icons/ic_next.svg');
}

#navigation_buttons #next.active {
    background-image: url('../../icons/ic_next_active.svg');
}






#navigation_options #network_type_icon {
    min-height: 0;
    padding: 4px;
    margin: 4px;
    border-radius: 6px;
    background-color: @ripple;
}

#network_type_label {
    color: @text_primary;
    font-size: 14px;
}



#app_options {
    padding: 4px 0;
}

#app_options #start {
    background-image: url('../../icons/ic_start.svg');
}

#app_options #stop {
    background-image: url('../../icons/ic_stop.svg');
}

#app_options #stop {
    background-color: @red;
}

#app_options.running #start {
    background-color: @green;
    background-image: url('../../icons/ic_restart.svg');
}












menuitem {
    border: none;
    color: @text_primary;
    font-size: 14px;
}

menuitem:hover {
    background-color: @ripple;
}

menuitem menuitem {
    margin: 0 5px;
    border-radius: 5px;
    font-size: 12px;
}

menuitem menuitem:hover {
    background-color: @primary;
}

menu separator {
    margin: 5px 0;
    background-color: @border;
}

menu {
    padding: 5px 0;
    border-radius: 0;
    border: solid 1px @border;
    background-color: @background;
}



#bottom_bar {
    padding: 4px 10px;
    font-size: 12px;
    color: @text_secondary;
    background-color: @background;
    border-top: solid 1px @background_secondary;
}

#bottom_bar #license {
    padding: 0 6px;
    border-radius: 28px;
    font-size: 10px;
    color: @red;
    border: solid 1px @red;
}

window.nightly #bottom_bar #license {
    color: @purple;
    border: solid 1px @purple;
}

window.release #bottom_bar #license {
    color: @green;
    border: solid 1px @green;
}

#bottom_bar button {
    min-height: 0;
    padding: 0;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#bottom_bar button:hover {
    background-color: @ripple;
}

#bottom_bar #warning {
    background-image: url('../../icons/ic_status_good.svg');
}

#bottom_bar #warning.warning {
    background-image: url('../../icons/ic_status_warning.svg');
}

#bottom_bar #warning.severe {
    background-image: url('../../icons/ic_status_severe.svg');
}






#notifications {
    margin: 0 10px 10px 0;
}

#notification {
    padding: 10px;
    background-color: @background_shimmer;
}

#notification label {
    color: @text_primary;
    font-size: 14px;
}

#notification #title {
    font-weight: bold;
}

#notification #close {
    border: 4px;
    border-radius: 100%;
    background-image: url('../../icons/ic_dialog_close.svg');
}

#notification button {
    min-width: 0;
    min-height: 0;
    padding: 4px;
    border-radius: 6px;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#notification button:hover {
    background-color: @ripple;
}






scrollbar {
    border: none;
}

scrollbar trough {
    background-color: @background_secondary;
}

scrollbar slider {
    background-color: @ripple;
    border: none;
    border-radius: 0;
}

scrollbar.vertical slider {
    padding: 0 2px;
}

scrollbar.horizontal slider {
    padding: 2px 0;
}

overshoot {
    background-image: linear-gradient(transparent, transparent);
}

paned > separator {
    background-image: linear-gradient(@background, @background);
}
