
#devices_layout {
    padding: 20px 160px;
}

#device_titlebar #title {
    padding: 10px 15px;
    border-radius: 40px;
    font-weight: bold;
    color: #cbd7dc;
    background-color: #59436e;
}

#list_scroll_layout {
    background-color: #666666;
}

list {
    background-color: #2b2d30;
}

list row {
    background-color: #2b2d30;
    outline: none;
    border: none;
    box-shadow: none;
}

list row label {
    padding: 10px;
    font-size: 14px;
    color: #a7a7a7;
}

list row:active,
        list row:active box {
    background-color: #26282e;
}
