#devices_layout {
    padding: 20px 160px;
}

#device_titlebar #title {
    padding: 10px 15px;
    border-radius: 40px;
    font-weight: bold;
    color: @text_primary;
    background-color: @primary;
}

#devices_list {
    background-color: @background;
}

#devices_list row {
    background-color: @background;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    margin: 2px 0;
    padding: 10px;
    font-size: 12px;
}

#devices_list row:hover {
    background-color: @ripple;
}

#devices_list row #icon {
    border-radius: 6px;
}


#devices_list row.any #icon {
    background-color: @device_any;
}

#devices_list row.ethernet #icon {
    background-color: @device_ethernet;
}

#devices_list row.lan #icon {
    background-color: @device_lan;
}

#devices_list row.wifi #icon {
    background-color: @device_wifi;
}

#devices_list row.vpn #icon {
    background-color: @device_vpn;
}

#devices_list row.bluetooth #icon {
    background-color: @device_bluetooth;
}

#devices_list row #title {
    font-size: 14px;
    color: @text_primary;
}

#devices_list row label {
    color: @text_secondary;
}

#devices_list row graph {
    color: @green;
}

#devices_list row.down graph {
    color: @red;
}
