#window_pane {
    border-left: solid 1px #1e1f22;
}



entry {
    padding: 5px 10px;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #393b40;
    color: #cbd7dc;
    background-color: #1e1f22;
    font-size: 14px;
}

entry:focus {
    outline: none;
    box-shadow: none;
}

#tree_view {
    color: #a7a7a7;
    background-color: #1e1f22;
    outline: none;
}

#tree_view button {
    padding: 8px 4px;
    font-size: 14px;
    border: none;
    border-bottom: solid 1px #393b40;
    font-weight: normal;
    color: #a7a7a7;
    background-color: #1e1f22;
}

#tree_view *:hover {
    background-color: #59436e;
}
/*
list row:active,
        list row:active box {
    background-color: #26282e;
}
*/


#side_navbar_layout {
    padding: 8px 4px;
}

#side_navbar_layout button {
    min-width: 0;
    padding: 4px;
    border-radius: 6px;
    border: none;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#side_navbar_layout button.selected,
        #side_navbar_layout button:hover {
    background-color: rgba(127, 127, 127, 0.2);
}

#side_navbar_layout #terminal_button {
    background-image: url('../../images/ic_terminal.svg');
}

#side_navbar_layout #plugins_button {
    background-image: url('../../images/ic_plugins.svg');
}











#terminal_scroll_layout {
    border-top: solid 1px #1e1f22;
}








#sidebar_title {
    padding: 4px 4px 3px 4px;
    border-bottom: solid 1px #393b40;
}

#sidebar_title button {
    min-height: 0;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#sidebar_title #dismiss_button {
    background-image: url('../../images/ic_dismiss.svg');
}

#sidebar_title #replay_button {
    background-image: url('../../images/ic_replay.svg');
}

#sidebar_title button:hover {
    background-color: rgba(127, 127, 127, 0.2);
}








#hex_content {
    background-color: #1e1f22;
}





#dropdown button {
    padding: 10px;
    border: 0;
    border-radius: 0;
    font-weight: bold;
    color: #9b9d9f;
    background: transparent;
}

#dropdown button:hover {
    background-color: #59436e;
}

#dropdown list {
    padding-left: 32px;
}

#dropdown list row:hover {
    background-color: #59436e;
}

#dropdown list #key {
    font-weight: bold;
    min-width: 180px;
}

#dropdown list #value {
    font-family: monospace;
}

