#window_pane {
    border-left: solid 1px @background_secondary;
}



entry {
    padding: 4px 8px;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px @background_shimmer;
    color: @text_primary;
    background-color: @background_secondary;
    font-size: 14px;
}

entry:focus {
    outline: none;
}

#tree_view {
    color: @text_secondary;
    background-color: @background_secondary;
    outline: none;
}

#tree_view button {
    padding: 8px 4px;
    font-size: 14px;
    border: none;
    border-bottom: solid 1px @background_shimmer;
    font-weight: normal;
    color: @text_secondary;
    background-color: @background_secondary;
}

#tree_view *:hover {
    background-color: @primary;
}
/*
list row:active,
        list row:active box {
    background-color: #26282e;
}
*/


#side_navbar_layout {
    padding: 4px;
}

#side_navbar_layout button {
    min-width: 0;
    padding: 4px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#side_navbar_layout button.selected,
        #side_navbar_layout button:hover {
    background-color: @ripple;
}

#side_navbar_layout #terminal_button {
    background-image: url('../../icons/ic_terminal.svg');
}

#side_navbar_layout #plugins_button {
    background-image: url('../../icons/ic_plugins.svg');
}











#terminal_layout {
    border-top: solid 1px @background_secondary;
}

#terminal_title label {
    padding: 0 10px;
    color: @text_primary;
    font-size: 14px;
}

terminal {
    padding: 4px;
    font-family: Monospace;
    font-size: 18px;
    color: @text_secondary;
    background-color: @background_secondary;
}







#sidebar_title {
    padding: 4px 4px 3px 4px;
    border-bottom: solid 1px @background_shimmer;
}

#sidebar_title button {
    min-height: 0;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#sidebar_title #dismiss_button {
    background-image: url('../../icons/ic_dismiss.svg');
}

#sidebar_title #replay_button {
    background-image: url('../../icons/ic_replay.svg');
}

#sidebar_title button:hover {
    background-color: @ripple;
}








hexeditor {
    padding: 10px;
    font-family: Monospace;
    font-size: 16px;
    color: @text_dark;
    background-color: @background_secondary;
}



#details_layout {
    padding: 5px 0;
}

#dropdown button {
    padding: 10px;
    border: 0;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: @text_dark;
    background: transparent;
}

#dropdown button:hover {
    background: @ripple;
}

#dropdown list {
    padding-left: 32px;
    background-color: @background;
}

#dropdown list row {
    background-color: @background;
    outline: none;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
}

#dropdown list row label {
    padding: 10px;
    font-size: 12px;
    color: @text_secondary;
}

#dropdown list row:hover,
        #dropdown list row.selected {
    background-color: @ripple;
}

#dropdown list #key {
    font-weight: bold;
    min-width: 120px;
}

#dropdown list #value {
    font-family: monospace;
}

