
#selection_scroll_layout {
    border-left: solid 1px @background_secondary;
}

hexeditor {
    padding: 10px;
    font-family: Monospace;
    font-size: 16px;
    color: @text_dark;
    background-color: @background_secondary;
}
