
#selection_scroll_layout {
    border-left: solid 1px @background_secondary;
}

hexeditor {
    padding: 10px;
    font-family: Monospace;
    font-size: 16px;
    color: @text_dark;
    background-color: @background_secondary;
}

combobox button {
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    color: @text_primary;
    background: none;
    background-color: @background_secondary;
}
