
#selection_scroll_layout {
    border-left: solid 1px @background_secondary;
}

hexeditor {
    padding: 10px;
    font-family: Monospace;
    font-size: 16px;
    color: @text_dark;
    background-color: @background_secondary;
}

#selection_layout {
    padding: 20px;
}

combobox button {
    border-radius: 6px;
    color: @text_primary;
    background: @background_shimmer;
    border: solid 1px @border_light;
}

combobox > window.popup * {
    margin: 0 5px;
    border-radius: 6px;
}

combobox > window.popup *:hover {
    background: @primary;
}
