window {
    background-color: #242424;
}

scrollbar trough {
    background-color: #242424;
}

scrollbar slider {
    background-color: #994ce0;
}

menubar {
    background-color: #141414;
    padding-bottom: 5px;
}

#header_layout {
    background-color: #343434;
    border-top: solid 1px #343434;
    border-bottom: solid 1px #343434;
}

#header_layout label {
    padding: 5px 10px;
    background-color: #141414;
}

list row label {
    padding: 0 10px;
}
