window {
    background-color: #242424;
}

scrollbar trough {
    background-color: #242424;
}

scrollbar slider {
    background-color: #994ce0;
}

menubar {
    background-color: #141414;
    padding-bottom: 5px;
}

menuitem {
    border: none;
    box-shadow: none;
}

treeview {
    background-color: #242424;
}

treeview button:nth-child(even) {
    margin: 10px 0;
}

treeview button {
    margin: 10px;
    border: none;
    background-color: #141414;
}

treeview box {
    font-family: monospace;
    font-weight: lighter;
}
