@define-color primary #59436e;
@define-color background #2b2d30;
@define-color background_secondary #1e1f22;

@define-color text_primary #cbd7dc;
@define-color text_secondary #a7a7a7;
@define-color text_dark #9B9D9F;

@define-color ripple rgba(255, 255, 255, 0.15);

@define-color border #5a5d63;
@define-color border_dark #393b40;

@define-color purple #784da1;
@define-color green #57965C;
@define-color red #db5c5c;

@define-color device_any #305755;
@define-color device_ethernet #5e5030;
@define-color device_lan #5e3030;
@define-color device_wifi #5e3058;
@define-color device_vpn #376141;
@define-color device_bluetooth #394366;

window {
    background-color: @background;
}

#MainWindow {
    background-color: @background;
    border-top: solid 1px @background_secondary;
    border-left: solid 1px @border;
    border-right: solid 1px @border;
    border-bottom: solid 1px @border;
}

button {
    border: none;
}

window.maximized {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

button:focus, button:checked {
    outline: none;
    border: none;
    box-shadow: none;
}


tooltip {
    border: solid 1px @border;
    border-radius: 0;
    color: @text_primary;
    background-color: @background;
    font-size: 12px;
}


#titlebar {
    min-height: 40px;
    border-radius: 0;
    border-top: solid 1px @border;
    border-left: solid 1px @border;
    border-right: solid 1px @border;
    padding: 0 8px;
    background: linear-gradient(90deg, @background 0%, @primary 20%, @background 40%);
}

window.maximized #titlebar {
    border-top: none;
    border-left: none;
    border-right: none;
}

#titlebar button {
    min-height: 0;
    padding: 4px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#titlebar button:hover {
    background-color: @ripple;
}


#titlebar.any {
    background: linear-gradient(90deg, @background 0%, @device_any 20%, @background 40%);
}

#titlebar.ethernet {
    background: linear-gradient(90deg, @background 0%, @device_ethernet 20%, @background 40%);
}

#titlebar.lan {
    background: linear-gradient(90deg, @background 0%, @device_lan 20%, @background 40%);
}

#titlebar.wifi {
    background: linear-gradient(90deg, @background 0%, @device_wifi 20%, @background 40%);
}

#titlebar.vpn {
    background: linear-gradient(90deg, @background 0%, @device_vpn 20%, @background 40%);
}

#titlebar.bluetooth {
    background: linear-gradient(90deg, @background 0%, @device_bluetooth 20%, @background 40%);
}






#navigation_options > button {
    margin: 4px;
}

#navigation_buttons {
    padding: 4px 0;
}

#navigation_options button,
        #app_options button {
    padding: 8px;
}

#navigation_options #menu_button {
    background-image: url('../../icons/ic_menu.svg');
}

#navigation_buttons #back_button {
    background-image: url('../../icons/ic_back.svg');
}

#navigation_buttons #back_button.active {
    background-image: url('../../icons/ic_back_active.svg');
}

#navigation_buttons #next_button {
    background-image: url('../../icons/ic_next.svg');
}

#navigation_buttons #next_button.active {
    background-image: url('../../icons/ic_next_active.svg');
}






#navigation_options #network_type_icon {
    min-height: 0;
    padding: 4px;
    margin: 4px;
    border-radius: 6px;
    background-color: @ripple;
}

#network_type_label {
    color: @text_primary;
    font-size: 14px;
}



#app_options {
    padding: 4px 0;
}

#app_options #start_button {
    background-image: url('../../icons/ic_start.svg');
}

#app_options #stop_button {
    background-image: url('../../icons/ic_stop.svg');
}

#app_options #stop_button {
    background-color: @red;
}

#app_options.running #start_button {
    background-color: @green;
    background-image: url('../../icons/ic_restart.svg');
}













#window_options {
    padding: 8px 4px;
}

#window_options button {
    padding: 4px;
}

#window_options button {
    border-radius: 100%;
}

#window_options #window_minimize {
    background-image: url('../../icons/ic_minimize.svg');
}

#window_options #window_maximize {
    background-image: url('../../icons/ic_maximize.svg');
}

window.maximized #window_options #window_maximize {
    background-image: url('../../icons/ic_maximize_active.svg');
}

#window_options #window_close {
    background-image: url('../../icons/ic_close.svg');
}






menubar * {
    box-shadow: none;
}

menuitem {
    border: none;
    color: @text_primary;
    font-size: 14px;
}

menuitem menuitem {
    margin: 0 5px;
    border-radius: 5px;
    font-size: 12px;
}

menuitem menuitem:hover {
    background-color: @primary;
}

menu separator {
    margin: 5px 0;
    background-color: @border;
}

menu {
    padding: 5px 0;
    border-radius: 0;
    border: solid 1px @border;
    background-color: @background;
}



#bottombar {
    padding: 4px 10px;
    font-size: 12px;
    color: @text_secondary;
    background-color: @background;
    border-top: solid 1px @background_secondary;
}

#bottombar #license {
    padding: 0 6px;
    border-radius: 28px;
    font-size: 10px;
    color: @red;
    border: solid 1px @red;
}

window.nightly #bottombar #license {
    color: @purple;
    border: solid 1px @purple;
}

window.release #bottombar #license {
    color: @green;
    border: solid 1px @green;
}

#bottombar button {
    min-height: 0;
    padding: 0;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#bottombar button:hover {
    background-color: @ripple;
}

#bottombar #warning_button {
    background-image: url('../../icons/ic_status_good.svg');
}

#bottombar #warning_button.warning {
    background-image: url('../../icons/ic_status_warning.svg');
}

#bottombar #warning_button.severe {
    background-image: url('../../icons/ic_status_severe.svg');
}





scrollbar trough {
    background-color: @background_secondary;
}

scrollbar slider {
    background-color: @ripple;
    border: none;
    border-radius: 0;
}

scrollbar.vertical slider {
    padding: 0 2px;
}

scrollbar.horizontal slider {
    padding: 2px 0;
}




